.social-icons img {
  height: 25px;
  margin: 10px;
}

h1 {
  font-weight: 800px;
  background: linear-gradient(
    to right top,
    #d80f40,
    #cb0f41,
    #bd1042,
    #b01242,
    #a21441
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me {
  margin: 20px 0;
}

.social-icons {
  border-radius: 4px;
  background-image: linear-gradient(
    to right top,
    #19255e,
    #19245c,
    #19235a,
    #182358,
    #182256
  );
}
