.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App .navbar-default {
  border-color: transparent;
  background-image: linear-gradient(
    to right top,
    #d80f40,
    #cb0f41,
    #bd1042,
    #b01242,
    #a21441
  );
}

.App .navbar-default .navbar-nav > li > a,
.App .navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-image: linear-gradient(
    to right top,
    #19255e,
    #19245c,
    #19235a,
    #182358,
    #182256
  );
}

.navbar {
  border: none;
}

.navbar-fixed-bottom {
  margin: 15px;
}
